.own__checkbox::after,.own__checkbox::before{
	display: none !important;

}
input:checked~.own__checkbox{
background-color: red;
color: white;
}
.own__checkbox{
	cursor:pointer;
}
.own__wrapper{
		width:60px !important;
}